
header, main, footer {
    padding: 1rem;

.logo {
    width: 15%;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.3));
  }
  .list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.75rem 1rem; 
    transition: color 0.2s ease;
  }
  
  .list a:hover {
    color: #ccc;
  }
  .search {
    gap: 2rem;
  }
  .input-group-text {
    color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
  }
  .profile {
    width: 3rem;
    height: 3rem;
  }
  .bell {
    color: white;  
  }
  
  .hero{
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee8dcd73-06e0-40fb-b9ce-13a91be98b17/dg8qbvr-a5495578-294b-4a30-86d8-2800177d4c65.jpg/v1/fill/w_1280,h_720,q_75,strp/lord_of_the_rings_hd_wallpapers_by_3dculture_dg8qbvr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZWU4ZGNkNzMtMDZlMC00MGZiLWI5Y2UtMTNhOTFiZTk4YjE3XC9kZzhxYnZyLWE1NDk1NTc4LTI5NGItNGEzMC04NmQ4LTI4MDAxNzdkNGM2NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JUDY_dFe54W5lz0kqwLeQfq97bQCgmDv7ejEh5jfJDg");
    background-size: cover;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.212), 0 10px 20px -2px rgba(0, 0, 0, 0.212)
  }
  .hero h1 {
    font-size: 2rem;
    margin-top: 1rem;
    color: darkred  ;
  }
  .hero p {
    margin-right: 50%;
  }
  .highlight {
    font-weight: bold;
    color: red;
  }
  .btn-group {
    margin-bottom: 1rem;
  }
  .movie-card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .header-section{
    margin-bottom: 1rem;
  }
  .movie-card:hover {
    transform: translateY(-40px);
    box-shadow: 0px 10px 20px rgba(223, 213, 213, 0.685);
  }
  .header-section h2 {
    font-weight: bold;
  }
  
  .btn-danger {
    border: none;
    transition: background-color 0.3s;
  }
  
  .btn-danger:hover {
    background-color: #a00202;
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text span {
    font-size: 0.9rem;
  }
